<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/db">${application_name}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
				#if ($SESSION_USER && $SESSION_USER.admin) 
				<a id="settings-btn" href="/admin">Admin</a> 
				#end
				</li>
			</ul>
			#if ($SESSION_USER) 
			<ul class="nav navbar-nav navbar-right">
				<li><a id="logout-btn" href="/user/logout">Log out
						#if($SESSION_USER.fullName) $SESSION_USER.fullName 
						#{else} $SESSION_USER.username.toUpperCase()
						#end</a>
				</li>
			</ul>
			 #end
			<ul class="nav navbar-nav navbar-right">
				<li>
				#if ($SESSION_USER) 
				<a id="settings-btn" href="/user/settings">Settings</a> 
				#end
				</li>
			</ul>

		</div>
		<!--/.navbar-collapse -->
	</div>
</nav>
