<!DOCTYPE html>
<html>
<head>
<title>${application_name}</title>

    #foreach( $cssFile in $css_files)
    	<link rel="stylesheet" media="all" href="/assets/css/${cssFile}" />
    #end
    #parse( "/public/layouts/html_head.html" )

</head>
<body>

	#parse( "/public/layouts/content_header.html" )

    <hr />
	<div class="container">

        #parse ( $content_page )

	</div>
	<!-- /container -->

	#parse( "/public/layouts/footer.html" )

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

    #parse( "/public/layouts/script_imports.html" )
    #foreach( $jsFile in $js_files)
    	<script src="/assets/js/${jsFile}"></script>
    #end
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</body>
</html>
