<!DOCTYPE html>
<html>
<head>
<title>${application_name}</title>

    <link rel="stylesheet" media="all" href="/assets/css/${moduleName}.css" />
    #parse( "/public/layouts/html_head.html" )

</head>
<body>

	#parse( "/public/layouts/content_header.html" )

    <hr />
	<div class="container">

        #parse ( $content_page )

	</div>
	<!-- /container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

    #parse( "/public/layouts/script_imports.html" )
    <script src="/assets/js/${moduleName}.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</body>
</html>
