
<div class="form-group">
	<label class="control-label col-sm-2" for="username-box">Username</label>
	<div class="col-sm-10">
		<input type="text" id="username-box" name="username"
			class="form-control" placeholder="Username" required autofocus />
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2" for="password-box"
		class="form-label">Password</label>
	<div class="col-sm-10">
		<input type="password" id="password-box" name="password"
			class="form-control" placeholder="Password" />
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2" for="username-box">Full name</label>
	<div class="col-sm-10">
		<input type="text" id="fullname-box" name="fullName"
			class="form-control" placeholder="Full name" required />
	</div>
</div>

<div class="form-group">

	<label class="control-label col-sm-2" for="admin-box">Admin</label>
	<div class="col-sm-10">
		<input type="checkbox" id="admin-box" name="admin" value="true" />
	</div>
</div>
