<div id="user-info-dialog" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<form id="user-info-form" class="form-horizontal modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					Create new user
				</h4>
			</div>
			<div class="modal-body">
					#parse( "/public/layouts/user_form.html" )

					<hr />
					
					<div class="form-group">
					
						<label class="control-label col-sm-2" for="user-db-box">DB
							Access (<span id="db-count">0</span>)</label>
						<div class="pre-scrollable" style="max-height: 150px">
							<ul class="columns col-sm-10" style="list-style: none" id="db-options">
								#foreach( $db in $dbs )
								<li><span style=""> <a href="#" class="small"
										tabIndex="-1"> <input type="checkbox" id="db-$db.connId"
											value="$db.connId" /> &nbsp;<label for="db-$db.connId">$db.connectionName</label>
									</a>
								</span></li> #end
					
							</ul>
						</div>
					</div>

					<input type="hidden" class="parent-tabpanel" />
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<span class="conn-loading-icon"><img
								src="/assets/images/loader3.gif" style="width: 40px; display: none" /></span>
						</div>
					</div>
				
				<div class="alert alert-danger" style="display: none"><strong>Oops!</strong> Update failed.</div>
			</div>
			<div class="modal-footer">
				<button type="submit" id="user-submit-btn" class="btn btn-primary">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</form>

	</div>
</div>
