<div class="row">

	<div class="row">
		<table><tr>
		<td>
			<img id="primary-photo" src="/assets/images/db/catalog.png" /></td>
		</td>
		<td width="100%">
			<h2>$catalog</h2>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/db">Home</a></li>
					<li class="breadcrumb-item"><a
						href="/db/dbconninfo?id=$dbInfo.connId">$dbInfo.connectionName</a></li>
					<li class="breadcrumb-item active" aria-current="page">$catalog</a></li>
				</ol>
			</nav>
			<div class="col-12 menu-bar">
				<a class="btn btn-sm btn-info" id="refresh-btn"
					href="/db/dbinfo?id=$dbInfo.connId&catalog=$catalog&refresh=true">REFRESH</a>
				<button class="btn btn-sm btn-info conn-info-btn">CONNECTION INFO</button>
				<button class="btn btn-sm btn-danger" id="delete-dbinfo-btn">DELETE</button>
			</div>
		</td>
		</tr></table>
	</div>
	
	
	<div class="row" id="splitpanel">

		<div id="dbtree" class="treeview col-sm-2 hidden-xs"></div>
			
		<div class="row col-sm-10 col-xs-12">
			<div class="col-lg-12" style="border-bottom: 1px solid #ccc; margin-bottom: 10px">
				<h4 style="font-style: italic; color: #bbb">TABLES ($tables.size())</h4>
			</div>
			#foreach( $tbl in $tables )
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="db-info-box row">
					<div class="cell">
						<a href="/table?id=$dbInfo.connId&catalog=$catalog&table=$tbl.name"
							class="db-info-header">$tbl.name</a>
					</div>
					<div class="cell db-info-content">
		
						<div class="col-xs-4">
						<a href="/table?id=$dbInfo.connId&catalog=$catalog&table=$tbl.name">
							<img src="/assets/images/db/table.png" />
						</a>
						</div>
						<div class="col-xs-8">
							<div><span class="text-muted">Catalog:</span> $!tbl.tableCatalog</div>
							<div><span class="text-muted">Schema:</span> $!db.tableSchema</div>
							<p><span class="text-muted">Row count:</span> $tbl.rowCount</p>
						</div>
					</div>
				</div>
			</div>
			#end
		</div>
	</div>
</div>

#parse( "/public/views/db/conn_info_dialog.html" )

<script>
	var dbtree_data = $DB_TREE_DATA;
	dbtree_data.push({"text": "New DB Connection...", "href": "/db/newdbconn"});
</script>