<form id="db-connect-form" class="form-horizontal row">
	<h2>Connect to a new database</h2>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/db">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">New DB Connection</a></li>
		</ol>
	</nav>
	<div style="padding-top: 30px">
		#parse( "/public/layouts/db_conn_form.html" )
	</div>
	<hr class="featurette-divider">
	<div class="col-sm-offset-2 col-sm-10">
		<button id="connect-btn" class="btn btn-lg btn-primary" type="submit">Connect</button>
		<span id="conn-loading-icon"><img
			src="/assets/images/loader3.gif" style="width: 40px; display: none" /></span>
	</div>
</form>
