<div id="query-history-dialog" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<form id="query-history-form" class="form-horizontal modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					Query history
				</h4>
			</div>
			<div class="modal-body list-group pre-scrollable">
			</div>
			<div class="modal-footer">
				<span style="float: left"><input id="show-time-checkbox" type="checkbox" /> 
				<label for="show-time-checkbox">Show timestamps</label></span>
				<button type="submit" id="select-btn" class="btn btn-primary">Select</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</form>

	</div>
</div>
